@font-face {
  src: url(./project-files/fonts/JosefinSans-Bold.ttf) format("truetype");
  font-family: JosefinSans;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url(./project-files/fonts/JosefinSans-Regular.ttf) format("truetype");
  font-family: JosefinSans;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}