:root{
    /*content*/
    --border: 88%;
    --divWidth: 60px;
    --shadowBox: 0px 0px 6px rgba(0, 0, 0, 0.4);

    /*Primary*/
    --brightBlue: hsl(220, 98%, 61%);

    /*Light Theme*/
    --darkGrayishBlue: hsl(236, 9%, 61%);
    
    /*Dark Theme*/
    --darkenBlue: hsl(235, 21%, 11%);
    --desaturatedBlue: hsl(235, 24%, 19%);
}

body{
    margin: 0;
    font-family: "JosefinSans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    transition: background-color .4s ease-in-out;
    overflow-x: hidden;
}

p{
    margin: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.border{
    width: var(--border);
    margin: 0 auto;
    max-width: 760px;
}

.header{
    min-height: 260px;
    background-image: url(/public/images/bg-mobile-light.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image .4s ease-in-out;
}
.header__div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0px auto;
    padding-top: 4em;
}
.header__div h1{
    margin: 0;
    color: white;
    letter-spacing: 0.3em;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}
.header__div button{
    background-color: transparent;
    width: fit-content;
    height: 1.5em;
    border: 0;
    display: inline-block;
    cursor: pointer;
    padding: 0;
}
.img-theme{
    width: 100%;
    height: 100%;
    transition: content .4s ease-in-out;
}
.content-main{
    position: relative;
    top: -6.5em;
    filter: drop-shadow(var(--shadowBox));
}
.main__form{
    width: 100%;
    height: var(--divWidth);
    display: flex;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: flex-end;
}

.button{
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid rgb(214, 213, 213);
    padding: 0;
    margin: 0 10px 0 20px;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
}

.main__form .text-input{
    height: 100%;
    width: 80%;
    border: 0;
    background-color: transparent;
    outline: 0;
    border-radius: 10px;
    box-sizing: border-box;
    caret-color: var(--brightBlue);
    padding: 0;
    font-size: 14px;
    flex-grow: 1;
    color: var(--darkGrayishBlue);
}
.main__form::placeholder{
    color: var(--darkGrayishBlue);
}

.items-content{
    width: 100%;
    margin-top: 1em;
}

.selection-box{
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.items__info{
    display: flex;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 1em;
    height: var(--divWidth);
    font-size: 0.8em;
}
.task-div + .selection-box .items__info {
    border-radius: 0px 0px 8px 8px;
}

.items__info p{
    color: var(--darkGrayishBlue);
}

.selection__items{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    height: 50px;
    width: 100%;
    gap: 15px;
    border-radius: 8px;
}

.selection-button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: all .4s ease-in-out;
    padding: 0;
    color: var(--darkGrayishBlue);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.selection-button:hover{
    color: var(--GrayishBlue);
}
.selection-button.active{
    color: var(--brightBlue);
}

.task-div{
    display: flex;
    background-color: white;
    border-radius: 0px 0px 0 0;
    padding: 0;
    height: var(--divWidth);
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--darkGrayishBlue);
    transition: background-color .4s ease-in-out;
}
.span-checkbox{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 20px;
}

.span-checkbox:has(.checkbox:hover){   
    background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.checkbox:hover:not(:checked){   
    background-color: white;
    border: 0;
}

.span-checkbox .checkbox{
    appearance: none;
    position: relative;
    margin: 0;
    z-index: 1;
}
.task-div:nth-of-type(1){
    border-radius: 8px 8px 0 0;
}
.checkbox:checked{
    background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.task-div:has(.checkbox:checked) p{
    color: var(--darkGrayishBlue);
    text-decoration: line-through;
}
.span-checkbox .checkbox:checked::after{
    content: "";
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    background-image: url(/public/images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 6px;
    left: 6px;
}

.task-div p{
    font-size: 14px;
}
.cross{
    background-image: url(/public/images/icon-cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    height: 20px;
    width: 20px;
    margin: 0 20px 0 auto;
}

.footer{
    margin-top: auto;
}

.span-checkbox p{
    transition: color .4s ease-in-out;
}

.dark-theme .task-div{
    color: white;
}
.task-div, .items__info, .selection__items, .main__form{
    transition: background-color .4s ease-in-out;
}

body:has(.dark-theme){
    background-color: var(--darkenBlue);
}
.dark-theme .img-theme{
    content: url(/public/images/icon-sun.svg);
}
.dark-theme .header{
    background-image: url(/public/images/bg-mobile-dark.jpg);
}

.dark-theme .task-div, .dark-theme .items__info, .dark-theme .selection__items, .dark-theme .main__form{
    background-color: var(--desaturatedBlue);
}

.dark-theme .checkbox:hover:not(:checked){   
    background-color: var(--desaturatedBlue);
}

.dark-theme .selection-button:hover{
    color: white;
}
.dark-theme .attribution{
    color: white;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 0 30px 10px;
    transition: color .4s ease-in-out;
}
.attribution a { color: hsl(228, 45%, 44%); }

.drag-text{
    color: var(--darkGrayishBlue);
    margin-top: 30px;
    text-align: center;
    transition: color .4s ease-in-out;
}
.drag-text:hover{
    color: var(--desaturatedBlue);
}
.dark-theme .drag-text:hover{
    color: white;
}

@media screen and (min-width: 1024px){
    .header{
        background-image: url(/public/images/bg-desktop-light.jpg);
        background-size: cover;
        background-position: center;
    }
    .dark-theme .header{
        background-image: url(/public/images/bg-desktop-dark.jpg);
    }

    .selection-box{
        display: flex;
        width: 100%;
        height: var(--divWidth);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px 8px 8px 8px;
        box-sizing: content-box;
        transition: background-color .4s ease-in-out;
    }
    .dark-theme .selection-box{
        background-color: var(--desaturatedBlue);
    }
    .task-div + .selection-box {
        border-radius: 0px 0px 8px 8px;
    }
    
    .selection__items{
        width: 50%;
        position: relative;
        z-index: 1;
    }
    .items__info{
        width: 100%;
        margin: 0;
        position: absolute;
        box-sizing: border-box;
    }

}
