:root{
    /*content*/
    --border: 88%;
    --divWidth: 60px;
    --shadowBox: 0px 0px 6px rgba(0, 0, 0, 0.4);

    /*Primary*/
    --brightBlue: hsl(220, 98%, 61%);

    /*Light Theme*/
    --lightGray: hsl(0, 0%, 98%);
    --veryGrayishBlue: hsl(236, 33%, 92%);
    --lightGrayishBlue: hsl(233, 11%, 84%);
    --darkGrayishBlue: hsl(236, 9%, 61%);
    --veryDarkGrayishBlue: hsl(235, 19%, 35%);
    
    /*Dark Theme*/
    --darkBlue: hsl(235, 21%, 11%);
    --desaturatedBlue: hsl(235, 24%, 19%);
    --normalGrayishBlue: hsl(234, 39%, 85%);
    --hoverGrayishBlue: hsl(236, 33%, 92%);
    --darkBlue: hsl(234, 11%, 52%);
    --veryDarkBlue: hsl(233, 14%, 35%);
    --veryDarkGrayish: hsl(237, 14%, 26%);
}

html,body{
    height: 100%;
    min-height: 100vh;
}
body {
    margin: 0;
    font-family: "JosefinSans", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}
p{
    margin: 0;
}

.border{
    width: var(--border);
    margin: 0 auto;
    max-width: 760px;
}

.header{
    min-height: 260px;
    background-image: url(/public/images/bg-mobile-light.jpg);
    background-size: cover;
    background-position: center;
}
.header__div{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0px auto;
    padding-top: 4em;
}
.header__div h1{
    margin: 0;
    color: var(--lightGray);
    letter-spacing: 0.3em;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}
.header__div button{
    background-color: transparent;
    width: fit-content;
    height: 1.5em;
    border: 0;
    display: inline-block;
    cursor: pointer;
    padding: 0;
}
.header__div button img{
    width: 100%;
    height: 100%;
}
.content-main{
    position: relative;
    top: -6.5em;
    filter: drop-shadow(var(--shadowBox));
}
.main__form{
    width: 100%;
    height: var(--divWidth);
    display: flex;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: flex-end;
}

.button{
    background-color: transparent;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    border: 1px solid rgb(214, 213, 213);
    padding: 0;
    margin: 0 10px 0 20px;
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
}

.main__form input{
    height: 100%;
    width: 80%;
    border: 0;
    background-color: transparent;
    outline: 0;
    border-radius: 10px;
    box-sizing: border-box;
    caret-color: var(--brightBlue);
    padding: 0;
    font-size: 14px;
    flex-grow: 1;
    color: var(--darkGrayishBlue);
}
.main__form::placeholder{
    color: var(--darkGrayishBlue);
}

.items-content{
    width: 100%;
    margin-top: 1em;
}
.items__info{
    display: flex;
    background-color: white;
    border-radius: 0 0 8px 8px;
    justify-content: space-between;
    padding: 0 1em;
    align-items: center;
    margin-bottom: 1em;
    height: var(--divWidth);
    font-size: 0.8em;
}
.items__info p{
    color: var(--darkGrayishBlue);
}

.selection__items{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    height: 50px;
    width: 100%;
    gap: 15px;
    border-radius: 8px;
}
.selection-button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: all .4s ease-in-out;
    padding: 0;
    color: var(--darkGrayishBlue);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.selection-button:hover{
    color: var(--GrayishBlue);
}
.selection-button.active{
    color: var(--brightBlue);
}
.task-div{
    display: flex;
    background-color: white;
    border-radius: 8px 8px 0 0;
    padding: 0;
    height: var(--divWidth);
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--darkGrayishBlue);
}
.task-div input[type="checkbox"]{
    appearance: none;
    position: relative;
}
.task-div input[type="checkbox"]:checked{
    background-image: linear-gradient(to right bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.task-div:has(input[type="checkbox"]:checked) p {
    color: var(--darkGrayishBlue);
    text-decoration: line-through;
}
.task-div input[type="checkbox"]:hover{
    border:  1px solid hsl(280, 87%, 65%);
}
.task-div input[type="checkbox"]:checked::after{
    content: "";
    height: 5px;
    width: 11px;
    display: block;
    position: absolute;
    border: 2px solid var(--lightGray);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    top: 8px;
    left: 6px;
}

.task-div p{
    font-size: 14px;
}
.cross{
    background-image: url(/public/images/icon-cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    height: 20px;
    width: 20px;
    margin: 0 20px 0 auto;
}

.attribution { font-size: 11px; text-align: center; margin-top: auto;}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 1024px){
    .header{
        background-image: url(/public/images/bg-desktop-light.jpg);
        background-size: cover;
        background-position: center;
    }
}
